

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: blur(7px);
}

.loginBox{
  background-color:white;
  border-radius: 25px;
  padding:50px;
  margin-top:200px;
}
.loginBox h1{
  padding-bottom:50px;
}
.loginBox .row{

}

.input-field .active{
  border-bottom:  rgb(33,150,243) !important;
  color:  rgb(33,150,243) !important;
}

.input-field input[type=email]:focus{
  border-bottom: 1px solid rgb(33,150,243) !important;
  box-shadow: 0 1px 0 0 rgb(33,150,243) !important;

}

.input-field input[type=password]:focus{
  border-bottom: 1px solid rgb(33,150,243) !important;
  box-shadow: 0 1px 0 0 rgb(33,150,243) !important;

}